<span class=pie-chart-color-box style={{colorStyle}}></span>
<span class=pie-chart-percent>{{slice.percent}}{{if slice.percent '%'}}</span>
<span class=pie-chart-value>{{slice.value}}</span>
<span class=pie-chart-label>{{slice.label}}</span>
